PORT=8000
MONGODB_URI=mongodb+srv://bniket2107_db_user:Bniket%402107@cluster0.i55mkfz.mongodb.net/growth-valley?appName=Cluster0&tls=true&tlsAllowInvalidCertificates=true
JWT_SECRET=kdfkdsjfkdsjfkjsdfk
JWT_EXPIRE=7d
NODE_ENV=development